
.hideoutmenu {
    position: fixed;
    top:-90px;
    width: 65%;
    height: 100px;
    background-color: black;
    opacity: .85;
    transition: 1s ease;
    z-index: 2;
}

.hideoutmenu:hover {
    top: 0px;
}

.PKMA {
    position: absolute;
    left: 20px;
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
    width: 100px;
    height: 100px;
    background-color: #E57F25;
    color: #FFF;
}

.PizzaCorner {
    position: absolute;
    left: 20px;
    bottom: -10px;
    transform: scale(1, -1);
}

.hideoutFirst {
    margin-right: 10px;
    margin-top:10px;
    margin-left: 15%;
    border-bottom-style: inset;
}

.userID {
    position: absolute;
    right: 20px;
    top: 4px;
    font-size: 17px;
    color: #E57F25;
    text-decoration: underline;
    visibility: hidden;
}

.smallSize, .smallWeight, .smallPrice{
    margin-left: 10px;
}
.largeParam {
    position: absolute;
    left: 60%;
}

.uah{
    left: 69%;
}

.btn{
    left: 57%;
}

.order {
    font-size: 25px;
    margin-left: 83%;
}

.ordername {
    margin-left: 10px;
}

.ordercircle{
    border-radius: 100%;
    border: none;
    background-color: #FEC731;
    color: #FFF;
    width: 30px;
    height: 30px;
    text-align: center;
    pointer-events: none;
}

.clear {
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
    border: none;
    background-color: #FFF;
    font-weight: lighter;
    color: darkgray;
    text-decoration: underline;
}

.col-12 {
    margin-top : 30px;
}
.withSmth{
    border: none;
    border-bottom-style: outset;
    background-color: aliceblue;
    font-size: 30px;
    height: 150px;
    width: 27%;
    margin-left: 83%;
}

.rname {
    color: orange;
    margin-left: 2%;
}

.rstats {
    font-size: 20px;
    margin-left: 2%;
}

.minus {
    margin-left: 2%;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background-color: #FB5C5C;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15)
    inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
    color: #FFF;
}

.inp {
    background-color: aliceblue;
    width: 20px;
    height: 30px;
    border-radius: 3px;
    border: none;
    text-align: center;
    font-family: "Courier New";
    font-size:20px;
    font-weight: bold;
}

.plus {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background-color: #51EC5B;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15)
    inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
    color: #FFF;
}

.remove {
    margin-left: 20px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background-color: #FFF;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15)
    inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
    color : #FEC731;
}

.summary {
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
}
#sumPrice {
    margin-left: 50px;
}

.btn-final {
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100px;
    margin-left: 10%;
    height: 50px;
    font-size: 25px;
    font-family: "Comic Sans MS";
}

.descript {
    color: darkgray;
}

.btn-primary{
    background-color: orange;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15)
    inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
    border: none;
    font-weight: bold;
}

.discount-msg {
    position: fixed;
    width: 100px;
    height: 125px;
    bottom: 0px;
    left: 12%;
    text-align: center;
    background-color: #E57F25;
    color: #FFF;
    padding-top: 10px;
    z-index: 2;
}

.msg-top {
    width: 85%;
    margin-left: 7.5%;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom-style: dashed;
}

.discount-num {
    font-weight: bold;
    font-size: 16px;
}

.discount-corner {
    position: absolute;
    top:-11px;
    left:0px;
}

#toBeCloned {
    visibility: hidden;
    position: absolute;
}

#googleMap{
    position: absolute;
    top: 250px;
    left: 1050px;
    height: 300px;
    width: 300px;
    z-index: 10;
}

@media(max-width: 1200px){
    .md-2{

    }

    .md-2:hover{

    }

    .withSmth {
    }
}